/* Hero.css */
.hero {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background: #f5f5f5;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    color: #666;
    margin: 10px 0 30px;
  }
  
  .hero-image img {
    width: 100%;
    max-width: 3500px;
    height : 600px;
    border-radius: 10px;
    margin: 0 auto;
  }